#about {
    margin-top: 0;
}

#button-my-vision {
    margin-bottom: 17.6px;
}

.skills-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;

    svg {
        color: white;
    }
}
  
.skills-container .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

  
.skills-container .skills-grid .skill {
    align-items: center;
    text-align: left;

    img {
      width: 100%;
      //height: 100%;
      object-fit: contain;
      overflow: hidden;
      border-radius: 4px;
    }

    
}
.marginIMG {
        margin-top: 17.6px;
    }
#about-job {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

    scroll-margin-top: 100px;
}

#about-work {
    margin-top: 0;
}

#about-second-job {
    grid-template-columns: repeat(1, 1fr);
}

.skill {
  ul {
    padding-left: 16px;
  }

  li {
    margin-bottom: 4px;
  }
}
  
.chip {
    color: rgb(39, 40, 34) !important;
    background-color: white !important;
    font-size: 0.8rem !important;
    height: 25px !important;
  
    span {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
        color: rgb(39, 40, 34);
    }
  
    svg {
        height: 15px !important;
    }
}

.marginH2 {
    margin-top: 32px;
}

.marginDIV {
    margin-top: 16px;
}

.flex-chips {
    line-height: 2;
    margin: 0.5;

    .chip-title {
        color: white;
        padding-right: 10px;
    }
}

.flex-chips .MuiChip-root {
    margin-right: 0.5em;
}

.flex-chips .MuiChip-outlined {
    background-color: #e0e0e0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.flex-chips .MuiChip-outlined span {
    color: rgb(39, 40, 34);
}

.expand-button {
    display: flex;
    height: 24px;

    .horizontal-line {
      width: 90%;
      margin-top: 0.8em;
    }

    p {
      margin: 0;
      padding-left: 2%;
      font-size: 2.4em;
      width: 5%;
      height: 0.8em;
    }
}

.expand-button:hover {
    cursor:pointer;
}

#arrow-img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

@media screen {
    @media (max-width: 768px) {
        .skills-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
    
        .skills-container .skills-grid {

        }
        
        .skills-container .skills-grid .skill {
            padding-bottom: 5%;
        }
    }

    @media (max-width: 567px) {
        .skills {
            font-size: 12px;
        }
    }
}