#contacts-container {
  display: block;
  //padding-bottom: 50px;

  .image-wrapper {
    z-index: 2;
    //margin-bottom: 17.6px;
	height: 200px !important;
    img {
        width: 200px;
        border-radius: 50%;
    }
}
}

.another-wrapper {
  display: flex;
  gap: 30px;
}

#contact-div-margin-bot {
  margin-bottom: calc(1em + 17.6px);
}

#last-hor-line {
  margin-top: 2em;
  margin-bottom: 100px;
}

.contact-wrapper-wrapper {
  padding-top: 25px;
  a {
    display: flex;
    margin-right: 16px;
    height: 50px;
  }
}

.contact-wrapper {
  display: flex;

  height: 50px !important;

  p {
    margin-block-start: 0;
    margin-block-end: 0;
    align-content: center;
    margin-left: 8px;
  }

  svg.mail {
    margin-top: 6px;
  }

  svg.vk {
    margin-top: 6px;
  }

  svg {
    width: 36px !important;
    height: 36px !important;
    margin-top: 6px;
  }
}

.light-mode {
	.contact-wrapper:hover {
		svg {
			color: #24817B;
    		transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out;
		}
	}
}

.contact-wrapper:hover {
  button {
    background-color: #00ff40;
    color: white;
  }

  svg {
    color: #00ff40;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out;
  }
}

.note2 {
  color: #b1b1b1;
  font-size: 0.9rem;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #00ff40;
    color: white;
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

@media screen {
  // @media (max-width: 1150px) {
  //   #contacts-container .image-wrapper {
  //         img {
  //             width: 200px !important;
  //         }
  //     }
  // }

  @media (max-width: 567px) {
    
    .another-wrapper {
      display: block !important;

	  .image-wrapper {
		  margin-bottom: 1em;
	  }
    }

    .contact-wrapper-wrapper {
      padding-top: 0px;
      a {
        display: inline-block;
        margin-right: 16px;
        height: 50px;
      }
    }
    
  }
}