.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d1116;
  padding: 0;
  z-index: 2000;
  border-radius: 4px;
  width: clamp(70%, 700px, 90%);
  height: 90%;
  overflow: hidden; 
  border-radius: 4px;

  h2 {
      margin: 0;
  }

  /* For WebKit browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 16px; /* Match default scrollbar width */
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
    background-clip: content-box;
  }
  
  /* For Firefox */
  scrollbar-width: auto;
  scrollbar-color: #c1c1c1 transparent;

  button {
    padding: 4px;
    min-width: 0;
    float: right;
    margin-top: 30px;
  }

  h3 {
    margin-top: 0;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 2000;
}