.projects-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}
  
.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
  
.projects-container .projects-grid .project {
    text-align: left;
}
  
.project h2:hover {
    text-decoration: underline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#no-hver:hover {
    text-decoration: none;
    transition: none;
}
  
.zoom {
    border-radius: 5px;
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.05);
}

.horizontal-line {
    display: block;
    background-color: white;
    width: 100%;
    height: 1px;
}

.modalProjectContainer {
    overflow: auto;
    padding: 48px;
    padding-top: 36px;
    height: calc(100% - 96px);

    #firstP {
        margin-top: 2em;
    }

    #firstP2 {
        margin-top: 2em;
    }

    #skazki-survey-good-img {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    #firsth2 {
      margin-top: 2em;
    } 

    a {
      text-decoration: underline;
    }

    h2 {
      margin-top: 2em;
    }

    h3 {
      margin-top: 2em;
    }

    img {
      border-radius: 4px;
    }
    
    ul {
      padding-left: 16px;
    }

    li {
      margin-bottom: 4px;
    }

    /* For WebKit browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      width: 16px; /* Match default scrollbar width */
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 8px;
      border: 4px solid transparent;
      background-clip: content-box;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #a8a8a8;
      background-clip: content-box;
    }
    
    /* For Firefox */
    scrollbar-width: auto;
    scrollbar-color: #c1c1c1 transparent;

    .projects-grid {
      grid-gap: 36px;
    }
}

#margin-bottom-horizontal-line {
  margin-top: 2em;
}

#projects-projects-grid {
    grid-template-columns: repeat(1, 1fr);

    .project {
      margin-bottom: 50px;

      p {
          width: clamp(300px, 80%, 1000px)
      }
  
      button {
        float: left;
        background-color: white;
        color: #050f0b;
        margin-top: 5px;
      }
      
      button:hover {
        background-color: #5000ca;
        color: white;
      }
  }
}

.video-wrapper-wrapper {
    width: clamp(80%, 800px, 100%);
}

.video-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }
}

.note {
    text-align: right;
    color: #b1b1b1;
    width: 100%;
    display:block;
    margin-top: 1em;
    text-decoration: underline;

    svg {
      fill: #b1b1b1;
      text-decoration: underline;
      height: 27px;

    }
}

.note:hover {
  svg {
    fill: #5000ca;
    transition: fill .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
}

#desktop-pic {
  display: block;
}

#mobile-pic {
  display: none;
}

@media screen {
    @media (max-width: 700px) {
        .projects-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
        }
  
        .projects-container .projects-grid {
            display: block;
        }
      
        .projects-container .projects-grid .project {
            padding-bottom: 5%;
        }

        .modalProjectContainer {
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 5%;
        }

        #desktop-pic {
          display: none;
        }

        #mobile-pic {
          display: block;
        }
    }
}